.navbar-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  backdrop-filter: blur(20px);
}

.navbar-desktop .logo {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 2em;
}
.navbar-desktop .tree {
  color: #e70009;
}
.navbar-desktop ul {
  position: relative;
  display: flex;
  gap: 40px;
}

.navbar-desktop li {
  list-style: none;
}

.navbar-desktop ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.25em;
}

.navbar-desktop ul li.active a,
.navbar-desktop ul li:hover a {
  color: #e70009;
}

.navbar-desktop ul li a:hover {
  transition: 0.5s;
  letter-spacing: 1px;
}
.navbar-mobile {
  display: none;
}
.navbar-sidebar {
  display: none;
}
.icon-navbar-mobile {
  cursor: pointer;
}

@media (max-width: 700px) {
  .navbar-desktop {
    visibility: hidden;
  }
  .navbar-mobile {
    visibility: visible;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
    z-index: 10000;
    background-color: #2e2f34;
  }
  .navbar-mobile .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
  }
  .navbar-mobile .tree {
    color: #e70009;
  }
  .navbar-sidebar {
    display: inline-block;
    visibility: visible;
    position: absolute;
    top: -315px;
    width: 100%;
    height: 340px;
    background-color: #2e2f34;
    z-index: 1000;
    transition: top 0.5s ease;
  }
  .icon-navbar-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  .navbar-sidebar.open {
    top: 0; /* Muestra la barra lateral */
  }
  .navbar-sidebar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    flex-direction: column;
    gap: 32px;
  }

  .navbar-sidebar li {
    list-style: none;
    cursor: pointer;
  }

  .navbar-sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
  }

  .navbar-sidebar ul li.active a,
  .navbar-sidebarul li:hover a {
    color: #e70009;
  }
  .navbar-sidebar ul li a:hover {
    transition: 0.5s;
    letter-spacing: 1px;
  }
}
.nav-signIn {
  color: #e70009 !important;
}
